.myheader {
  color: aquamarine;
}

.myteam {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.profilepic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.cvpics {
  height: 200px;
}
